*{
    margin: 0px 0px;
    padding: 0px 0px;
    overflow-x: hidden;
}

/* ------------navbar ---------   */

.container
{
   background-color: #fca311; 
   width: 100vw;
   /* position: relative; */
   font-size: 1.5rem;
}

.container ul{
    display: flex;
  
    justify-content:start;
    flex-wrap: wrap;
    align-items: center;

}



nav img{
    width: 30px;
    height: 30px;
    position: absolute;
    
    top: 5px;
    right: 5px;
    /* z-index: 0; */
    display: none;

    
}
 



.container ul li{
   list-style-type:none ;
   /* border: 2px solid rgb(41, 19, 19); */
   margin: 20px;
   color: white;
   font-family:'Baloo Bhai 2', cursive,sans-serif,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

   transition: 0.3s;
}
.container li:nth-of-type(6)
{
    margin-right: 40px;
}

.container ul li:hover{
    transform:scale(1.2,1.2);
    color: whitesmoke;
    cursor: pointer;
 }

#food{
    /* justify-self:left; */
    margin-right: auto;
    font-family: fantasy,sans-serif;
    text-shadow:2px 2px black;
}
@media screen and (min-width:702px) and (max-width:1200px){
    .container #bar{
        display: flex;
    }
    
}

@media screen and (max-width:760px) {
    .container ul{
        /* background-color: rgb(4, 26, 4); */
        flex-direction: column;
       
        
    }

    .container #bar{
        display: none;
        
    }
    
    
    .container li:nth-of-type(6)
    {
        margin: 0%;
    }

    #food{
        margin: 0%;
        padding: 12px;
    }

    #threeLine{
        display: inline-block;
    }


    
}

/* -------------Navbar Ends-----------  */


/* -----------Auto Display Food  ------ */
#corol{
    
    width: 100vw;
    /* margin: 10px; */
    margin-top: 10px;
    /* border: 2px solid rebeccapurple; */
    height:fit-content;
   
}   

#corol figure{
   



    width: 100%;
    height:fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    perspective: 600px;
    

}


#corol figure img{
 width: 100%;
 height: fit-content;
 transition: 6s;
 /* backface-visibility: hidden; */
 z-index: 1;
 
}

.boxes{
    
    width: 33%;
    background: rgb(252 163 17 / 73%);
    height: min-content;
    transition: 1s;
    perspective: 600px;
    z-index: 0;
    
    
    
}


#corol figure img:hover{
    perspective: 100px;
    /* display: none; */
    z-index: -1;
    cursor: pointer;
    transform: rotateY(360deg);


}


/* ----------- Auto Display Food Ends --------- */


/*----------- search bar starts------- */
.searchBar{
    margin-top: 3vw;
    background: palegoldenrod;
    width: 100vw;
    margin-bottom: 3vw;
}
.searchBar input{
    width: 80%;
    display: block;
    margin: auto;
    height: 3em;
    border-radius: 12px;
    padding: 2px;

}



.searchBar h2
{
    text-align: center;
    font-size: 2.5em;
    font-family: 'Bebas Neue', cursive,Arial, Helvetica, sans-serif;
    color: #fb8b24;
    text-shadow: 1.2px 1.5px black;
}
.sugg{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.sugg div{
    color: white;
    background-color: gray;
    border-radius: 7px;
    margin: 3px;
    padding: 5px;
    font-size: 1.3em;
}
.sugg div:hover{
    background-color: white;
    color: black;
    border: 1px solid gray;
}

/* ------search bar Ends-------- */



 /* -------food Item Card ------*/



#pack{

    width: 100vw;
    box-sizing: border-box;
}

.main{
  
    width: 100vw;
   
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    
    font-size: 0.8em;
    overflow-x:hidden;
}

.items{
    width: 300px;
    border: 2px solid grey;
    height: 400px;
    background-color:whitesmoke;
    /* margin: 0.5rem; */
    text-align: center;
    margin-bottom: 00.5rem;
    box-shadow: 3px 1px 3px grey;
    border-radius: 15px;
}

.items img{
    width: 100%;
    height: 300px;
    border-radius: 15px;
}

.items button{
    width: 95%;
    height: 1.8rem;
}

#seeMore
{
    width: 20vw;
    display: block;
    margin: 3vw auto;
    /* height: 20px; */
    background-color: grey;
    color: whitesmoke;
    font-size: 1.5rem;
    transition: 0.5s;
    border-radius: 10px;
}
#seeMore:hover
{
    transform: scale(1.1);
    background-color: white;
    color: black;

}

/* -------food item card Ends---- */




 /* ---------contact us ------- */
#cu{
    text-align: center;
    font-family:'Bebas Neue', cursive,Arial, Helvetica, sans-serif;
    font-size: 4rem;
    text-shadow:2px 2px  burlywood;
}
#formContainer{
    box-sizing: border-box;
    margin: 0px auto;
    width: 95vw;
    /* border: 10px solid rgb(221, 135, 22); */
    border-radius: 12px;
    box-shadow: -2px -5px  rgb(176, 172, 172);
   
    background-color: #fca311
}

#phn{

    width:100%;

}

@media  screen and (min-width:800px) {
    #phn{
        width: 50%;
        margin: 0px auto;
        display: block;
    }
    
}

form{
    padding: 1.2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

form input  {
    width: 450px;
    height: 30px;
    margin: 0.5em;
}


textarea{
    
    width: 85%;
    height: 50%;
    margin: 0.5em;
    
}


form button{

    width: 85%;
    height: 2rem;
    margin: 0.5em;
    background-color: grey;
    color: white;
}

form button:hover{

  background-color: white;
  color: black;
}

/* -----------contact us-------- */



 /* -------End Footer Navigation------ */

.foot{
    width: 100vw;
    height: 200px;

    margin-top: 1.3rem;
    background: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.foot img{
    width: 2.5rem;
    height: 2.5rem;
    margin: 1rem;
}
.foot img:hover{

    transform: scale(1.2);
    cursor: pointer;
}

#myName{
    color: white;
    width: 100%;
    text-align: center;
    

}

/* ----End Footer Navigation Ends----- */



   




